# --- CONFIGURACIÓN DE SEGURIDAD Y ENTORNO ---
SECRET_KEY=tu_clave_secreta
PEPPER=tu_pepper_para_hashes
ENVIRONMENT=development

# --- BASES DE DATOS Y CACHÉ ---
DATABASE_URL=postgresql://usuario:contraseña@localhost:5432/nombre_bd
REDIS_URL=redis://localhost:6379/0

# --- CONFIGURACIÓN DE TOKENS (JWT) ---
JWT_ISSUER=https://tu-dominio.com
JWT_AUDIENCE=tu-app-client-id